.add-book-form {
  background-color: #1a0826;
  color: #fff;
  padding: 25px;
  border-radius: 12px;
  width: 100%;
  max-width: 700px; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.add-book-form .form-with-preview {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}


.add-book-form input,
.add-book-form select {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
}


.add-book-form button {
  background-color: #6ef2a5;
  color: #1a0033;
  padding: 12px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.add-book-form button:hover {
  background-color: #ff7f00;
  color: #fff;
  transform: translateY(-2px);
}


.add-book-form .error {
  color: #ff4d4f;
  font-weight: bold;
}


.add-book-form .cover-preview {
  width: 180px;
  text-align: center;
  flex-shrink: 0;
  margin-top: -20px; 
}

.add-book-form .cover-preview h4 {
  margin-bottom: 10px;
}


.add-book-form .cover-preview .cover-container {
  width: 100%;
  height: 300px; 
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: #f0f0f0;
  color: #555;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  padding-top: 10px; 
}


.add-book-form .cover-preview img {
  width: auto;
  height: 100%; 
  border-radius: 6px;
}
